
.close > span {
    padding-right: 10px;
}

#modal-medias .modal-content{
    max-width: 100% !important;
    height : 100%;
}

#modal-medias .modal-body{
    height : 90% !important;
}

iframe {
    height: 100%;
    width: 100%;
    border: none;
}

.input-medias {
    display: none;
}